In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('vine_table.csv',header=0)
df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3DT59XH7HXR9K,5.0,0.0,0.0,N,Y
1,R1LFS11BNASSU8,5.0,0.0,1.0,N,Y
2,R296RT05AG0AF6,5.0,0.0,0.0,N,Y
3,R3V37XDZ7ZCI3L,5.0,0.0,1.0,N,Y
4,R14GU232NQFYX2,5.0,0.0,0.0,N,Y

In [3]:
df_sample = df[df.total_votes >= 20]
df_sample.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
18,R28RB82UG4RDD5,5.0,20.0,20.0,N,Y
233,R3FB6BERWPEIJP,4.0,40.0,43.0,N,Y
615,R1D4Z38STRDQXK,5.0,53.0,56.0,N,Y
1065,R1XMWJZICINIFX,3.0,20.0,21.0,N,Y
1105,R20QKY1GABXFLM,1.0,272.0,297.0,N,Y

In [4]:
df_filtered = df_sample[(df_sample.helpful_votes/df_sample.total_votes)>0.5]
df_filtered

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
18,R28RB82UG4RDD5,5.0,20.0,20.0,N,Y
233,R3FB6BERWPEIJP,4.0,40.0,43.0,N,Y
615,R1D4Z38STRDQXK,5.0,53.0,56.0,N,Y
1065,R1XMWJZICINIFX,3.0,20.0,21.0,N,Y
1105,R20QKY1GABXFLM,1.0,272.0,297.0,N,Y
...,...,...,...,...,...,...
4880460,R2SLX958DGMAIG,4.0,21.0,21.0,N,Y
4880461,R22DLC2P26MUMR,4.0,30.0,41.0,N,N
4880462,R1N6KLTENLQOMT,5.0,84.0,92.0,N,N
4880463,R10TW4QXDV8KJC,4.0,55.0,60.0,N,N
4880464,R41RL2U1FSQ4V,4.0,30.0,42.0,N,N

In [5]:
# Create a df for each member type
df_filtered_Y = df_filtered[df_filtered.vine=='Y']
df_filtered_N = df_filtered[df_filtered.vine=='N']

In [26]:
# Calculate the measures for each type
TotalReviews_Y = df_filtered_Y.review_id.count()
FiveStarReviews_Y = df_filtered_Y.review_id[df_filtered_Y.star_rating == 5.0].count()
FiveStarPct_Y = FiveStarReviews_Y/TotalReviews_Y

TotalReviews_N = df_filtered_N.review_id.count()
FiveStarReviews_N = df_filtered_N.review_id[df_filtered_N.star_rating == 5.0].count()
FiveStarPct_N = FiveStarReviews_N/TotalReviews_N

In [28]:
FiveStarReviews_Y=df_filtered_Y.review_id.count()

In [31]:
# create a dataframe for the results
df_analysis = pd.DataFrame([{'Vine member flag':'Y','Total Reviews':TotalReviews_Y,'Five Star Reviews':FiveStarReviews_Y,'Five Star Reviews %':FiveStarPct_Y},
    {'Vine member flag':'N','Total Reviews':TotalReviews_N,'Five Star Reviews':FiveStarReviews_N,'Five Star Reviews %':FiveStarPct_N}
    ])
df_analysis.set_index('Vine member flag')

                  Total Reviews  Five Star Reviews  Five Star Reviews %
Vine member flag
Y                          1205               1205             0.422407
N                         97558              45833             0.469803